.heroSection {
  padding: 40px 0px;
  background-color: #f4f8f8;
  & .heroHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    & img {
      width: 250px;
    }
    & h1 {
      font: var(--font-h1);
    }
    & h6 {
      font: var(--font-h6);
      padding: 10px 200px;
      text-align: center;
    }
  }
  & .teamCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 40px;
    justify-items: center;
  }
}

@media (max-width: 1366px) {
  .heroSection {
    & .teamCards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media (max-width: 956px) {
  .heroSection {
    & .teamCards {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 932px) {
  .heroSection {
    & .heroHeader {
      & h1 {
        text-align: center;
      }
      & h6 {
        padding: 20px;
      }
    }
  }
}

@media (max-width: 440px) {
  .heroSection {
    & .teamCards {
      grid-template-columns: 1fr;
    }
    & .heroHeader {
      & h1 {
        padding: 20px;
      }
      & h6 {
        padding: 20px 40px;
      }
    }
  }
}
