header {
  margin-bottom: 200px;
  & .nav {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    & img {
      width: 50px;
    }
    & ul {
      display: flex;
      gap: 40px;
      align-items: center;

      & li {
        font: var(--font-p1);
        font-weight: 700;
        color: var(--b2);
      }
      & .support {
        color: red;
      }
    }
  }
}
