.teamCard {
  background-color: yellowgreen;
  text-align: left;
  border-radius: 20px;
  background-color: var(--card);
  border: 2px solid var(--b4);
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  width: 340px;
  cursor: pointer;

  & .logo {
    width: 250px;
    height: 250px;
    transition: transform 0.6s;
    &:hover {
      transform: scale(1.2);
    }
  }
  & .wordmark {
    width: 200px;
    height: 100px;
  }

  & .teamCardTop {
    justify-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    & .conference {
      position: absolute;
      left: 250px;
      top: 10px;
      background: blue;
      padding: 1px 20px;
      border-radius: 10px;
      font-weight: bold;
      color: white;
    }
    & .afc {
      background-color: red;
    }
  }

  & .teamCardBotton {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    & h2 {
      font: var(--font-h6);
      font-weight: 800;
      color: var(--primary-text);
    }
    & p {
      font: var(--font-p1);
      font-weight: 700;
      color: var(--primary-text);
    }
    & span {
      color: var(--highlight);
    }

    & .highlightBorder {
      border-top: 1px solid var(--secondary);
      border-bottom: 1px solid var(--secondary);
      padding: 10px 0px;
    }
  }
}

@media (max-width: 1030px) {
  .teamCard {
    width: 320px;
    & .logo {
      width: 220px;
      height: 220px;
    }

    & .teamCardTop {
      & .conference {
        left: 230px;
        top: 5px;
      }
    }
  }
}

@media (max-width: 830px){
  .teamCard{
    
  }
}